.main-wrapper {
    height: 100%;
    overflow: auto;
}

p {
    margin: 0;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.modal-wrapper {
    margin: 0 auto;
    max-width: 456px;
    background: linear-gradient(180deg, #11063A 0%, #372A58 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.tabs-wrapper {
    width: 100%;
}

.modal-wrapper {
    display: flex;
    position: absolute;
    min-width: 456px;
    right: 54px;
}

.modal-close {
    color: #fff;
    position: absolute;
    padding: 5px 10px;
    top: 3px;
    right: 5px;
}

/* .tabs-wrapper .tabs .tab-content>.tab-pane {
    height: calc(100vh - 200px);
} */

.nav-tabs {
    border: transparent;
}

.nav-tabs .nav-link {
    color: #F4F4F4;
    border: transparent;
    opacity: 0.5;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: linear-gradient(180deg, #372A58 0%, #11063A 100%) !important;
    color: #fff !important;
}



.card {
    background: linear-gradient(180deg, #11063A 0%, #372A58 100%);
    /* Shadow/4dp */
    height: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.user-detail {}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: transparent;
}

.card-header-user {
    margin-right: auto;
    display: flex;
    align-items: center;

}

.card-header-user-avatar {
    width: 148px;
    height: 148px;
    flex: 0 0 148px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

.card-header-user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-header-user-info h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #020105;
    margin-bottom: 2px;
}

.card-header-user-info h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9A999B;
    margin: 0;
}

.card-body-item {
    display: flex;
    flex-direction: column;
}

.card-body-item-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    color: #F4F4F4;
}

.card-body-item-label:not(:last-child) {
    margin-bottom: 4px;
}

.card-body-item-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F4F4F4;
}

.card-body {
    flex: 1 1 auto;
}

.card-body-head {}

.card-buttons {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}

.card-buttons a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #F4F4F4;
    display: flex;
    align-items: center;
}

.buttons-blue {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    background: linear-gradient(180deg, #732ABD 50.52%, #6365D4 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: transparent;
}

.buttons-blue span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #F4F4F4;
}










.card {}

.user-input form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-header {}

.card-header-user-input {
    display: flex;
    width: 100%;
}

@media (max-width:400px) {

    .card-header-user-input {
        flex-direction: column;
    }
}

.card-header-user-avatar {
    position: relative;
}

.card-header-user-avatar span {
    background: linear-gradient(0deg, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-header-user-avatar span img {
    width: 40px;
    height: 40px;
}

.card-header-user-avatar {}

.card-header-user-info-input {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-action {
    display: flex;
    flex-direction: column;
}

.form-action:not(:last-child) {
    margin-bottom: 8px;
}

.form-action label {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #F4F4F4;
    margin: 0 0 2px 0;
}

.form-action input,
.form-action select,
.form-action option {
    outline: none;
    background: #3F3660;
    height: 28px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #F4F4F4;
    border: transparent;
    padding: 0 8px;
}

.form-action select::after {
    color: #F4F4F4;
}

.card-body {}

.card-buttons {}

.buttons-red {
    background: linear-gradient(180deg, #F64565 0%, #BF3750 100%);
}

.wrapper {
    display: flex;
    width: 100vw;
}

.wrapper-sidebar {
    width: 20%;
    border-right: 1px solid #EBEBEB;

}


.wrapper-inner {
    width: 80%;
    height: 100vh;
    background-color: #f5f5f7;
}

.sidebar {
    background: linear-gradient(180deg, #11063A 0%, #372A58 100%);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    height: 100vh;
}

.sidebar-header {
    padding: 10px 20px;
}

.sidebar-header img {
    height: 36px;

}















/* ==================================================================== */
.header {
    height: 48px;
    background: #6365D4;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 19px;
}

.header-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 24px;
    height: 100%;
}

.header-nav>* {
    display: flex;
    align-items: center;
}

.header-cost {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
}

.header-question {}

.header-user {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.header-user-name {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
}

.header-user-ava {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #11063A;
    background-color: #fff;
    border-radius: 50%;
}




/* ==================================================================== */
#modal-1>div {
    position: relative;
    background: linear-gradient(180deg, #11063A 0%, #372A58 100%);
    border-radius: 4px;
    padding: 28px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 27px;
}

.user-card {}

.card-header {}

.card-header-user {}

.user-card .card-header-user-avatar {
    height: 56px;
    width: 56px;
    flex: 0 0 56px;
}

.card-header-user-info h4 {
    font-size: 18px;
    line-height: 21px;
    color: #F4F4F4;
}

.card-header-user-info p {
    font-size: 10px;
    line-height: 12px;
    color: #F4F4F4;

}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-inner-profile-btn {}

.card-inner-btn {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #F4F4F4;
    width: 100%;
    justify-content: center;
}

.card-inner-btn img {
    height: 14px;
    width: 14px;
}

.card-inner-btn:hover {

    background: #3F3660;
    color: #F4F4F4;
}

#modal-1 {
    position: absolute;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 224px;
    right: 54px;
}



#modal-1>div>span {
    position: absolute;
    top: 0%;
    right: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 12;
    line-height: 1;
    cursor: pointer;
}

.nav-justified .nav-item {
    flex-basis: content;
}



/* ============================================================================================ */
.header {
    position: relative;
}

.menu-btn {
    height: 45px;
    width: 45px;
    top: 0;
    left: 5px;
    z-index: 3;
    position: absolute;
    display: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 50px;
    background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    transition: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-8px);
}

.menu-btn span::after {
    transform: translateY(8px);
}

.active .menu-btn span::before {
    transform: rotate(45deg);
    /* transform-origin: left bottom;
      width: 10px; */
}

.active .menu-btn span::after {
    transform: rotate(-45deg);
    /* transform-origin: left top;
      width: 10px; */
}

.active .text-dark {
    height: 0;
}

.menu-active a:nth-child(1) {
    transform: translate(150%, 0%);
    transition-delay: 0.1s;
}

.menu-active a:nth-child(2) {
    transform: translate(100%, 100%);
    transition-delay: 0.2s;
}

.menu-active a:nth-child(3) {
    transform: translate(0%, 150%);
    transition-delay: 0.3s;
}

/* ===================================================================================== */





@media (max-width:997.98px) {
    .wrapper-sidebar {
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 510;
        background-color: #fff;
        transform: translateX(-100%);
        transition: all 0.4s;
        width: 40%;
        height: 100%;
    }

    .menu-btn {
        display: block;
    }

    .wrapper-inner {
        width: 100%;
    }
}

@media (max-width:600.98px) {
    .wrapper-inner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .modal-wrapper {
        height: 100%;
        max-width: 100%;
        min-width: 300px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
    }

    .main-wrapper {
        height: 100vh;
    }
}

.tabs-wrapper .tabs .nav {
    flex-wrap: nowrap;
}